{% extends 'base.html.twig' %}

{% block body %}
    <main class="row overflow-auto">
        <div>profile page</div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}